    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function deletePlant(plantId) {
            if (confirm('Are you sure you want to delete this plant?')) {
                fetch(`/plants/${plantId}`, {
                    method: 'DELETE'
                }).then(() => {
                    window.location.reload();
                });
            }
        }
    </script>
</body>
</html>