<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">Welcome to Plant Nursery</h1>
    <p class="lead">Browse our collection of plants or login to place orders.</p>
    <hr class="my-4">
    <p>We offer a wide variety of indoor and outdoor plants.</p>
    <a class="btn btn-primary btn-lg" href="/plants" role="button">Browse Plants</a>
</div>

<%- include('partials/footer') %>